.footer {
  background-color: darken($header-color-day, 20%);
  min-height: 20rem;
  cursor: default;
  margin: 0px;
  padding-bottom: 2rem;
  &-content_category {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-wrapper {
    padding-top: 8rem;
  }
  &_categories {
    margin: 0px 1rem 0 2.5rem;
    list-style-type: none; 
    white-space: nowrap;
  }
  &_menu {
    list-style-type: none; 
    font-family: 'Roboto', sans-serif;
    padding-left: 1rem;
    &__header {
      margin: 0;
      padding: 1rem 0 0rem 0rem;
      font-size: 1.3rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      color: $background-color-day;
      &-mobile {
        display: none;
      }
      &-mobile2 {
        display: none;
      }
    }
    &__list {
      margin-left: 0rem;
      text-decoration: none;
      padding-bottom: 0.5rem;
      color: black;
      color: $background-color-day;
      cursor: pointer;
      &:hover {
        color: $content-header-color-day;
      }
    }
  }
  &_about-blog {
    margin: 0 1rem 0 1rem;
    &__header {
      margin: 0;
      padding: 1rem 0 0 0;
      font-size: 1.3rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      color: $background-color-day;
    }
    &__description { 
      font-family: 'Roboto', sans-serif;
      color: $background-color-day;
    }
  }
  &_contacts-wrapper {
    margin: 0 0 0 2.5rem;
    overflow: hidden;  
    &__header {
      margin: 0;
      padding: 1rem 0 0 0;
      font-style: normal;
      font-size: 1.3rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      color: $background-color-day;
    } 
  }
  &_contact-me {
    list-style-type: none; 
    padding-left: 1px;
    color: $background-color-day;
    white-space: nowrap;
    i {
      width: 0.7rem;
    }
    &__list {
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      padding-left: 0.5rem;
      color: $background-color-day;
      cursor: pointer;
      &:hover {
        color: $content-header-color-day;
      }
    }
  }
}

.about-me {
  padding: 1rem 3rem 0 0;
  &_header {
    margin: 0;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: $background-color-day;
  }
  &_description {
    font-family: 'Roboto', sans-serif;
    color: $background-color-day;
    z-index: 999;  
  }
}

.tag-cloud {
  width: 20rem;
  height: 17rem;
  margin-left: -3rem;
  &_image {
    width: 100%;
    height: 100%;
  }
}
