$multiplicity-width: 2;

	/* colors */
//$background-color-day: rgba(218,173,46,0.2);
$background-color-day: rgba(247, 238, 213, 1);
$content-header-color-day: orange;
//$header-color-day: rgba(128,46,218,0.65);
$header-color-day: rgb(169, 113, 216);
$shadow: rgba(0,0,0,0.6);
$logo-title-day: white;
$post_wrapper__data-day: rgba(255, 0, 0, 0.81);
$content_post-block__button: rgba(78, 175, 13, 1);
$post_wrapper-day: rgb(175, 149, 13);
$black: rgb(0, 0, 0);
$up-color: 	rgb(255, 255, 255);
$grey: rgba(102,102,85, 1);
$cancel-btn-text-color: #999;